body {
    background-color: hsl(62, 87%, 94%);

    overflow-x: hidden;
          
    
}

header {
    background-color: hsl(216, 85%, 39%);
    /* height: 35px;
    text-align:start; */
    /* padding: 4px;  */
    position: fixed; 
    width: 100%;
    z-index: 1000; 
    top: 0;

    
    

}

.iconcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contactinfo {

    color: hsl(0, 0%, 100%);
    margin: 0px;
    padding: 5px;
}

.carouselandtext {

    margin-top: 98px;
    
}

.imgcarousel {

   filter: brightness(70%);
}

nav {
    /* background-color: hsl(34, 100%, 64%); */
    text-align: center;

}


/* section {
    display: flex;
    flex-direction: row;
     justify-content:center; 
    gap: 0px ;

} */

/* Store */

.mystore {
    margin-top: 90px;

    border: 1px solid brown;
    position: relative;
    text-align: center;
}

.button-checkout {

    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0D6EFD;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 1.5px;

}

.button-checkout:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;

}

.product-store {
    margin-top: 20px;
    border: 1px solid red;

    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-evenly;
    align-items: center;


}


.product-container {

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    margin: 20px;
    padding: 2px 16px;

    position: relative;
    width: 330px;
    height: 510px;
    text-align: center;

}

.imgproduct-container{
    width: 300px;
    height: 300px;
    overflow: hidden;

}

.product-container img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
    object-fit: cover;
    
}

.product-container img:hover {
    transform: scale(1.5);
    
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-description {
    text-align: left;
}


.button-add {
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0D6EFD;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;
}

.prices {

    display: flex;
    flex-flow: row wrap;
    gap:15px ;
    
    
}

.oldprice {
    margin-top: 5px;
    text-decoration: line-through;
    color: rgb(100, 100, 100);
    font-size: 20px;
}
.price {
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 20px;
}


.servicetitled {
    padding-top: 30px;

}


/* Services we offer */

.services2 {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.services3 {
    position: relative;
}

.serviceimg {
    width: 600px;
    height: 600px;
}

.custom-margin-top {
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}



.parte2img {
    float: right;
    margin-left: 20px;
  } 

.parte2blabla {
    float: left;
    text-align: right;
   

} 

/* design thinking */

.designsteps {

    text-align: center;

}

.designtimg {

    width: 150px;
    height: 150px;
}



/* How to contact us */

.howto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


  /* footer  */


.footer1 {
    background-color: hsl(216, 98%, 52%);
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 100%;

    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;

}

.foottext {
    position: relative;
}

.writtenby {
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mediaicon {
    color:hsl(216, 85%, 39%);
    transition: color .5s;
  
  }
  
.mediaicon:hover {
  color: aliceblue!important; 

}



.prueba1img {
    width: 100%;
}

.contenedorbox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.box1 {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px; 
    /* background-color: rgb(226, 43, 83); */
    /* border: 1px solid black; */
    
        /* width: 50%;
        float: left;
        height: 100px;
        align-items: center;
        
        text-align: center; */

}



.imagenbox {
    width: 300px;
    height: 300px;
}


.metodo {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.seccion3 {
   padding-top: 40px;
   padding-bottom: 60px;
}

/* dasdas */


.clear:after {
    content: '';
    display: block;
    clear: both;
    padding-top: 50px;
    
}


.box {
    width: 50%;
    float: center;
    height: 450px;
    background-color: hsl(0, 0%, 45%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}



/* le pones en un div el iframe y el otro la div que contenga contacto... entonces le haces un container fluid, otra div row y a lo que contenga contacto y iframe le pones una clase col-6 */


li {
    list-style-type: none;
}
/* .subcontainer2 {

    display: flex;
    align-items: center;



}     */

.hipervinculocontacto {
   
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
      
}

.whatlook, .textstore, .acerca, .confidencialidad, .gif {
    margin-top: 40px;
    margin-bottom: 40px;
}



.recortevertical {

    clip-path: rect(0px, auto, 0px, auto);
    
}

/* empresa */

/* Nice image */

.niceimg {

    max-width: 100%;
    height: 600px;
    overflow: hidden;

}

.niceimg img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 55%;

  }

/* about us */

.subcontainer {

    display: flex;
    align-items: center;
    
}

/* Acuerdo de confidencialidad */

.confidencialidad {

    background-color: hsl(0, 0%, 82%);
    color: hsl(0, 0%, 7%);
    width: 100%;

    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    
}

.conficencialtitulo {

    margin-left: 172px;
    margin-right: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;

    width: 50%;
    margin: 1em ;

    min-height: 17em;

    flex-basis: calc(50% - 2em);

    position: relative;



}

.conficencialsvg {

    margin-left: 172px;
    margin-right: 70px; 
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;

    width: 50%;
    margin: 1em ;

    min-height: 17em;

    flex-basis: calc(50% - 2em);

    position: relative;



}

.acuerdo {

    justify-content: center;
    /* padding-top: 172px; */
    /* margin-left: 172px;
    margin-right: 200px; */
}

.confidenceimg {

    width:100%;


}

.tituloconfidencial {
   display: flex;
   justify-content: start;

}

/* ------------------------- */

@media (max-width: 720px) {

    .iconcontact {

        justify-content: flex-start;
        margin-left: 25px;
    }


    .imgcarousel {

        height: 60vh;
        object-fit: cover;

    }

    .niceimg {

        height: 60vh;
        object-fit: cover;

    }

    .niceimg img {

        height: 60vh;
        object-fit: cover;

    }

    .designtimg {

        width: 100px;
        height: 100px;
    }

    .brhk {
        display: none;
      }


    
    .footer1 {

        font-size: 14px;
        
    }
    
    .conficencialtitulo {

        margin-left: 172px;
        margin-right: 70px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
    
        width: 100%;
        margin: 1em ;
    
        min-height: 17em;
    
        flex-basis: calc(100% - 2em);
    
        position: relative;
    
    
    
    }

    .ustext{
        text-align: center;
    }
}

@media (max-width: 1120px) {

    .iconcontact {

        justify-content: flex-start;
        
        
    }

    .imgcarousel {

        height: 60vh;
        object-fit: cover;

    }

    .designtimg {

        width: 200px;
        height: 200px;
    }

    .brhk {
        display: none;
      }

}





