body {
    background-color: hsl(62, 87%, 94%);

    overflow-x: hidden;
          
    
}

header {
    background-color: hsl(216, 85%, 39%);
    /* height: 35px;
    text-align:start; */
    /* padding: 4px;  */
    position: fixed; 
    width: 100%;
    z-index: 1000; 
    top: 0;

    
    

}

.iconcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contactinfo:hover {
    transition: 0.5;
    color: #c5c5c5;
}

.contactinfo {

    color: hsl(0, 0%, 100%);
    margin: 0px;
    padding: 5px;
}

/* Carousel part  */

.carouselandtext {

    margin-top: 98px;
    
}

.imgcarousel {

   filter: brightness(70%);
}

nav {
    /* background-color: hsl(34, 100%, 64%); */
    text-align: center;

}

.introduction {
    font-size: 20px;

}



/* section {
    display: flex;
    flex-direction: row;
     justify-content:center; 
    gap: 0px ;

} */

/* Advertisement banner */

.propaganda{
    margin-top: 105px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Store */

.mystore {

    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;

    /* border: 1px solid red; */

    background-color: #0D6EFD;


    /* margin-top: 150px;

    border: 1px solid brown;
    position: relative;
    text-align: center; */
}

.titletienda {
    padding-left: 50px;
    color: white;
    grid-column: 1;
}

.icon-cart {

    /* margin-right: 50px; */

    grid-column: 6;
    

    /* border: 1px solid red; */

    /* position: absolute;
    right: 150px;
    bottom: 2.5px; */

}

.container-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    align-items: center;
    justify-content: center;
}

.count-products {
    position: absolute;
    top: 40%;
    right: 43px; 
    background-color: #00e1ff;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    


}

#counting-products {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) ;
    border-radius: 10px;
}

.hidden-cart {
    display: none;
}
/* https://www.youtube.com/watch?v=3BtyzOBLRcg min 42:31 */
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.card-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;

    border-bottom: 1px solid rgba(0,0,0,0.2);

}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    
}

.title-product-cart{
    font-size: 20px;

}

.price-product-cart{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;

}
.cuantity-cart-product{
    font-weight: 400;
    font-size: 20px;

}

.cart-total {

    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-payment {
    font-size: 20px;
    font-weight: 900;
}

.button-checkout {

    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #00c3dd;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: relative;
    right: 150px;
    bottom: 50%;
    grid-column: 4;

}

.button-checkout:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;

}

.product-store {
    margin-top: 20px;
    border: 1px solid red;

    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;


}


.product-container {

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    margin: 20px;
    padding: 2px 16px;

    position: relative;
    width: 330px;
    height: 510px;
    text-align: center;

}

.imgproduct-container{
    width: 300px;
    height: 300px;
    overflow: hidden;

}

.product-container img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
    object-fit: cover;
    
}

.product-container img:hover {
    transform: scale(1.5);
    
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-description {
    text-align: left;
}


.button-add {
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0D6EFD;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;
}

.prices {

    display: flex;
    flex-flow: row wrap;
    gap:15px ;
    
    
}

.oldprice {
    margin-top: 5px;
    text-decoration: line-through;
    color: rgb(100, 100, 100);
    font-size: 20px;
}
.price {
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 20px;
}


.servicetitled {
    padding-top: 30px;

}

/* Contact Form */

/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


/* body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
} */

.form-section {
    display: flex;
    
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;

    padding: 50px;

}

.img-form {
    position: relative;

}

.contact_form {  
  width: 460px; 
  height: auto;
    margin: 10px auto; 
  /* border-radius: 10px;   */
  padding-top: 10px;
  padding-bottom: 20px;  
  /* background-color: #fbfbfb;  */
   padding-left: 30px;  

  position: relative;
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0D6EFD; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0D6EFD; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


.sendbutton{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #0D6EFD; 
  border-color: #0D6EFD; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


.sendbutton p{
  color: #fff; 
}


.obligatorio{
  color: #0D6EFD; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


/* .formtext1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
} */


.formtext1{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


.p-form {
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #0F53B8;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #0F53B8;
}


/* Services we offer */

.services2 {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}

.servicetitled {
    font-size: 32px;
    margin-top: 90px;
    margin-bottom: 100px;
    color: #28272C;
}

.servicetitled2 {
    font-size: 38px;
    color: #3D29FE;
}

.pservice {
    font-size: 20px;
}

.services3 {
    position: relative;
}

.serviceimg {
    width: 600px;
    height: 600px;
    font-size: 20px;
}

.custom-margin-top {
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}



.parte2img {
    float: right;
    margin-left: 20px;
  } 

.parte2blabla {
    float: left;
    text-align: right;
   

} 

/* Como lo hacemos */

.howwedo {
    margin-bottom: 120px;
}

/* design thinking */

.designsteps {

    text-align: center;

}

.designtimg {

    width: 150px;
    height: 150px;
}



/* How to contact us */

.howto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.content {
    margin-bottom: 90px;
}


/* footer  */


.footer1 {
    background-color: hsl(216, 98%, 52%);
    font-size: 20px; 
    padding: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;

}


.iconandmedias{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}


.logofooter{
    grid-column: 1;
    justify-self: start;
}

.socialmedia{
    grid-column: 6;
}

.othersinfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;

}

.writes{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;
    font-size: 14px;
    
}

.foottext {
    position: relative;
}

.writtenby {

    justify-self: start;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.linkwrittenby{
    text-decoration: none;
    color: white;

}

.linkwrittenby:hover{
    transition: 0.5s;
    color: rgb(0, 255, 255);
}

.integral{
    justify-self: start;
}
.mediaicon {
    color:hsl(216, 85%, 39%);
    transition: color .5s;
  
  }
  
.mediaicon:hover {
  color: aliceblue!important; 

}



/* .prueba1img {
    width: 100%;
} */
/* ////////////////////// */

.contenedorbox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.box1 {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px; 
    /* background-color: rgb(226, 43, 83); */
    /* border: 1px solid black; */
    
        /* width: 50%;
        float: left;
        height: 100px;
        align-items: center;
        
        text-align: center; */

}



.imagenbox {
    width: 300px;
    height: 300px;
}


.metodo {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.seccion3 {
   padding-top: 40px;
   padding-bottom: 60px;
}



/* dasdas */


.clear:after {
    content: '';
    display: block;
    clear: both;
    padding-top: 50px;
    
}


.box {
    width: 50%;
    float: center;
    height: 450px;
    background-color: hsl(0, 0%, 45%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}



/* le pones en un div el iframe y el otro la div que contenga contacto... entonces le haces un container fluid, otra div row y a lo que contenga contacto y iframe le pones una clase col-6 */


li {
    list-style-type: none;
}

.hipervinculocontacto {
   
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
      
}

.textstore, .acerca, .confidencialidad, .gif {
    margin-top: 40px;
    margin-bottom: 40px;
}

.whatlook {
    margin-top: 30px;
}



.recortevertical {

    clip-path: rect(0px, auto, 0px, auto);
    
}

/* empresa */

/* Nice image */

.niceimg {

    max-width: 100%;
    height: 600px;
    overflow: hidden;

}

.niceimg img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 55%;

  }

/* about us */

.subcontainer {

    display: flex;
    align-items: center;
    
}

/* Acuerdo de confidencialidad */

.confidencialidad {

    background-color: hsl(0, 0%, 82%);
    color: hsl(0, 0%, 7%);
    width: 100%;

    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    
}

.conficencialtitulo {

    margin-left: 172px;
    margin-right: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;

    width: 50%;
    margin: 1em ;

    min-height: 17em;

    flex-basis: calc(50% - 2em);

    position: relative;



}

.conficencialsvg {

    margin-left: 172px;
    margin-right: 70px; 
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;

    width: 50%;
    margin: 1em ;

    min-height: 17em;

    flex-basis: calc(50% - 2em);

    position: relative;



}

.acuerdo {

    justify-content: center;
    /* padding-top: 172px; */
    /* margin-left: 172px;
    margin-right: 200px; */
}

.confidenceimg {

    width:100%;


}

.tituloconfidencial {
   display: flex;
   justify-content: start;

}

/* ------------------------- */

@media (max-width: 720px) {

    .iconcontact {

        justify-content: flex-start;
        margin-left: 25px;
    }


    .imgcarousel {

        height: 60vh;
        object-fit: cover;

    }

    .niceimg {

        height: 60vh;
        object-fit: cover;

    }

    .niceimg img {

        height: 60vh;
        object-fit: cover;

    }

    .designtimg {

        width: 100px;
        height: 100px;
    }

    .brhk {
        display: none;
      }

    /* Advertisement banner  */

    .propaganda {
        margin-top: 140px;
        margin-left: unset;
        margin-right: unset;
    }


    .banner-propaganda{

        width: 100%;
    }

    /* Store */

    .mystore {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
       /* color: #fff; */
        padding: 10px;

        z-index: 1;
    }


    /* /////// */

    /* Form section */

    .form-section {
        
        width: 100vw;
    
        padding: unset;
    
    }

    .contact_form {

        

       

    }

    /* //////// */


    /* footer */

    .footer1 {


        font-size: 20px;
        border: 1px solid red;


        
    }

    .containerofgrids{
        display: block;
        justify-content: center;
        border: 1px solid red;


    }

    .iconandmedias {
        border: 1px solid red;
        display: block;
        justify-content: center;
        align-items: center;

    }

    .othersinfooter {
        border: 1px solid red;

        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }

    .otherslink {

        padding-bottom: 10px;
    }

    .writes {
        border: 1px solid red;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }

    .logofooter {
        justify-self: unset;
        max-width: 80%;
        height: auto;
        border: 1px solid rgb(0, 143, 67);

    }

    .socialmedia {
        border: 1px solid rgb(0, 143, 67);
        padding-top: 10px;
        margin-top: 10px;
    }

    .integral{
        justify-self: initial;

    }



    .writtenby {
        justify-self: initial;

    }

    /* ////// */

    
    .conficencialtitulo {

        margin-left: 172px;
        margin-right: 70px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
    
        width: 100%;
        margin: 1em ;
    
        min-height: 17em;
    
        flex-basis: calc(100% - 2em);
    
        position: relative;
    
    
    
    }

    .ustext{
        text-align: center;
    }

    /* pag productos */

    .mystore {
        margin-top: 120px;
        text-align: left;
        padding-left: 30px;
        
    }
}

@media (max-width: 1120px) {

    .iconcontact {

        justify-content: flex-start;
        
        
    }

    .imgcarousel {

        height: 60vh;
        object-fit: cover;

    }

    .designtimg {

        width: 200px;
        height: 200px;
    }

    .brhk {
        display: none;
      }

    /* Advertisement banner  */

    .propaganda {
        margin-left: unset;
        margin-right: unset;
    }
    
    
    .banner-propaganda{
    
        width: 100%;
    }

}





